.user-form {
    background-color: #f7b2b2;
    border: 2px solid #f7b2b2;
}
.user-form input,textarea {
    width: 100%;
    border: none; 
    background-color: transparent;
    /* color: #fff; */
    border-bottom: 2px solid #fff;
    padding: 8px 15px;
    /* border-radius:; */
    margin: 10px 0;
}
.user-form input::placeholder, .user-form textarea::placeholder {
    /* color: #fff; */
}
.user-form input:focus, .user-form textarea:focus {
    outline: none;
    border-bottom: 2px solid #fff;
}
