*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
                               /* MEDIA QUERIES */
@media (max-width: 400px) {
    .cart-detail{
        margin-left: 1rem;
    }
    .proceed-btn{
        font-size: 14px;
        padding: 6px 8px;
    }
    .cart-details{
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .cart-product-details{
        font-size: 14px;
    }
    
}
@media (max-width: 350px) {
    .cart-product-details{
        font-size: 13px;
    }
}